
<h2>So <%= @player1_name %> selected <%= @player1_weapon %></h2>
<h2>And <%= @player2_name %> selected <%= @player2_weapon %></h2>

<h2>So the winner is.....</h2>

<h2 class="winner"><%= @winner %></h2>