
<h2>So <%= GAME.player1.name %> selected <%= GAME.player1.weapon %></h2>
<h2>And <%= GAME.player2.name %> selected <%= GAME.player2.weapon %></h2>

<h2>So the winner is.....</h2>

<h2 class="winner"><%= GAME.decide_winner %></h2>